.titan-card{
    background-color: black;
    color: white; 
}

.home-titan-button{
    background-color: white;
    color: black; 
}

.olympian-card {
}

.home-olympian-button{
    background-color: black;
    color: white;
}